{% extends "base.html" %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th>Última atualização</th>
    </tr>
  </thead>
  <tbody>
    {% for product in data %}
    <tr>
      <td>{{ product.productid }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.lastupdated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

